<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clyst</title>
  </head>
  <body>
    <h1>Add</h1>

<!-- Based on whether they post or add products, form changes accordingly -->

<!-- For adding posts -->
    <form action="{{ url_for('add') }}" method="POST">
      <label>Title</label>
      <input name="post_title" type="text" />
      <label>Description</label>
      <textarea name="description"></textarea>
      <label>Add Image</label>
      <input name="image" type="file" />
      <button type="submit">Post Artwork</button>
    </form>


    <h1>Post</h1>
<!-- For adding products -->
    <form action="{{ url_for('add') }}" method="POST">
      <label>Product Name</label>
      <input name="product_name" type="text" />
      <label>Price</label>
      <input name="price" type="text" />
      <label>Add Image</label>
      <input name="image" type="file" />
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
