<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clyst</title>
  </head>
  <body>

  # Based on whether they post or add products, form changes accordingly

  # For adding posts
    <form action="{{ url_for('add') }}" method="POST">
      <label>Product/Art Name</label>
      <input name="product_name" type="text" />
      <label>Artisan Name</label>
      <input name="artist_name" type="text" />
      <label>Price</label>
      <input name="price" type="text" />
      <button type="submit">Post Artwork</button>
    </form>

    # For adding products
    <form action="{{ url_for('add') }}" method="POST">
      <label>Product Name</label>
      <input name="product_name" type="text" />
      <label>Subtitle</label>
      <input name="subtitle" type="text" />
      <label>Price</label>
      <input name="price" type="text" />
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
