<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clyst</title>
  </head>
  <body>
    <h1>Community Feed</h1>

      <a href="/">Community</a> # Back to community page/home page
    <ul>
      {% for product in products %}
      <li>
        <a href="{{url_for('delete', id=post.id)}}">Delete</a>
        {{post.product_name}} - {{post.artist_name}} - Rs.{{post.price}}
        <a href="{{url_for('product_buy', id=post.id)}}">Buy Now</a>
        <a href="/profile.html">View Artisan</a> # Redirects to profile page
      </li>
      {% endfor %}
    </ul>
  </body>
</html>