<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clyst</title>
  </head>
  <body>
    <h1>MarketPlace</h1>

      <a href="/">Community</a> <!-- Back to community page/home page -->
    <ul>
      {% for product in products %}
      <li>
        <a href="{{url_for('delete_products', id=product.id)}}">Delete</a>
        <p>{{product.title}} - {{product.artist.name}} - {{product.description}} - Rs.{{product.price}}</p>
        <a href="{{url_for('product_buy', id=product.id)}}">Buy Now</a>
        <a href="/profile.html">View Artisan</a> <!-- Redirects to profile page -->
      </li>
      {% endfor %}
    </ul>
  </body>
</html>