<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clyst</title>
  </head>
  <body>
    <h1>Artisan Profile</h1>

      <a href="/">Community</a> # Back to community page/home page
        {{post.artist_name}} - {{post.artist_bio}}
      <ul>
      {% for post in posts %}
      <li>
        {{post.product_name}} - ${{post.price}}
        <a href="{{url_for('product_buy', id=post.id)}}">Buy Now</a> # Redirects to buying of that particular product
      </li>
      {% endfor %}
    </ul>
  </body>
</html>